开发一个Web网站：
– 用户选择N个社交网络服务，指定自己关心的社交好友(及其在N个社交网络
中的账号/主页等)；
– 网站自动抽取好友在这N个服务中的更新记录，汇总在一起展示给当前用户；
– 网站可分析好友在N个服务中的活跃度随时间/日期变化的规律；
– 网站可分析好友的“兴趣”随日期变化的规律；
– 网站可感知与该好友具有密切社交互动的其他人，并分析他/她们之间互动
的规律(活跃度、主题)等。
– 当好友发布某些特定主题的内容时，网站可主动推送给当前用户。