{% extends "base.html" %}

{% block head %}
    <title>关注话题设置 - Friend Reader</title>
    <style>
    .navbar-login
    {
        width: 305px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .navbar-login-session
    {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .icon-size
    {
        font-size: 87px;
    }
    /* This parent can be any width and height */
    .block {
      text-align: center;
    }

    /* The ghost, nudged to maintain perfect centering */
    .block:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    /* The element to be centered, can
       also be of any width and height */
    .centered {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }
    .widget-user-image:hover{

    }
    </style>
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/static/css/_all-skins.min.css"/>
    <script>

        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
        });
    </script>
    <script src="/static/js/adminlte.min.js"></script>
    <script src="/static/js/current_user.js"></script>
    <script src="/static/js/config_user/config_user.js"></script>
{% endblock %}

{% block body %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a target="_blank" href="/show" class="navbar-brand">Friend Reader</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/show/activities">好友动态</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">动态分析
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/show/vitalities">活跃度分析</a></li>
                        <li><a href="/show/interests">兴趣频率分析</a></li>
                        <li><a href="/show/changes">兴趣变化分析</a></li>
                    </ul>
                </li>
                <li><a href="/show/interactions">互动分析</a></li>
                <li><a href="#" data-toggle="modal" data-target="#attention-modal" data-name="" data-sex="" data-account0="" data-account1="" data-account2="" data-friendid="">添加话题</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong id="username">Nombre</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong id="name">Nombre Apellido</strong></p>
                                        <p class="text-left small" id="email">correoElectronico@email.com</p>
                                        <p class="text-left">
                                            <a href="/config/user" class="btn btn-primary btn-block btn-sm">设置</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="javascript:void(0)" class="btn btn-danger btn-block" id="button-logout">注销</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div class="container" id="body" style="margin-top:100px" >

    <div class="modal fade" id="attention-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">添加关注话题</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="tag" class="control-label"></label>
                <input type="text" class="form-control" id="tag" name="tag">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="button-attention">提交</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" id="attention-template" style="display:none">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="name">53</h3>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer" id="button-delete"><i class="fa fa-trash-o"></i> 删除话题
            </a>
        </div>
    </div>

    </div>
{% endblock %}