{% extends "base.html" %}

{% block head %}
    <title>好友互动分析 - Friend Reader</title>
    <style>
    .navbar-login
    {
        width: 305px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .navbar-login-session
    {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .icon-size
    {
        font-size: 87px;
    }
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
    <script>

        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
        });
    </script>
    <script src="/static/js/current_user.js"></script>
    <script src="//www.chartjs.org/dist/2.7.1/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
{#    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/show_interactions/show_interactions.js"></script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a target="_blank" href="/show" class="navbar-brand">Friend Reader</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/show/activities">好友动态</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">动态分析
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/show/vitalities">活跃度分析</a></li>
                            <li><a href="/show/interests">兴趣频率分析</a></li>
                            <li><a href="/show/changes">兴趣变化分析</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/show/interactions">互动分析</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong id="username">Nombre</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong id="name">Nombre Apellido</strong></p>
                                            <p class="text-left small" id="email">correoElectronico@email.com</p>
                                            <p class="text-left">
                                                <a href="/config/user" class="btn btn-primary btn-block btn-sm">设置</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="javascript:void(0)" class="btn btn-danger btn-block" id="button-logout">注销</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="body" style="margin-top:100px" >

        <select class="selectpicker" id="friendid" data-live-search="true">
        </select><br/>
        <table id="table" class="display hover" width="100%">
            <thead>
                <tr>
                    <th>用户ID</th>
                    <th>互动指数</th>
                    <th>标签1</th>
                    <th>次数1</th>
                    <th>标签2</th>
                    <th>次数2</th>
                    <th>标签3</th>
                    <th>次数3</th>
                    <th>其他标签次数</th>
                </tr>
            </thead>
        </table>

    </table>
    </div>

    <div class="footer navbar-fixed-bottom" style="background-color:#f39c12;display:none">
        <div style="text-align: center;"><h3>正在加载，请稍后......</h3></div>
    </div>
{% endblock %}